<div id="racetrack">
	<h3>
	Start: <span id="start"></span>
	&nbsp; &nbsp; &nbsp;
	Finish: <span id="finish"></span>
	</h3>

  <div class="lane">
		<div class="racer-info">
			<span class="timer">0:00</span>
			<span class="name">Jeff Gordon</span>
		</div>
		<ol>
		</ol>
	</div>

	<div class="clear"></div>
</div>

<div id="msg"></div>
<div id="page"></div>
