<div id="racetrack">
	<h3>
  <span id="time">0:00</span>
	Start: <span id="start"></span>
	&nbsp; &nbsp; &nbsp;
	Finish: <span id="finish"></span>
	</h3>

  <!-- lane example
  <div id="JOxC2STUeS4fIxAOAAAC" class="lane">
		<div class="racer-info">
			<span class="timer">0:00</span>
			<span class="name">Jeff Gordon</span>
		</div>
		<ol>
		</ol>
	</div>
  -->

	<div class="clear"></div>
</div>

<div id="msg"></div>
<div id="page"></div>
