<h3>
Start: <span id="start"></span>
&nbsp; &nbsp; &nbsp;
Finish: <span id="finish"></span>
</h3>

<div id="racetrack">
  <div class="lane">
		<div class="racer-info">
			<span class="timer">0:00</span>
			<span class="name">Jeff Gordon</span>
		</div>
		<ol>
			<li>Scotland</li>
			<li>Roman_Empire</li>
			<li>France</li>
			<li>President_of_France</li>
			<li>President_of_the_United_States</li>
			<li>List_of_Governors_of_Kentucky</li>
			<li>Government_of_Kentucky</li>
			<li>Kentucky_(disambiguation)</li>
			<li>Kentucky</li>
			<li>NASCAR</li>
		</ol>
	</div>
</div>

<div class="clear"></div>

<div id="msg"></div>
<div id="page"></div>
