#racetrack {
	border-bottom: solid black 1px;
	padding-bottom: 1em;
	background-color: white;

	position: fixed;
  left: 0;
  right: 0;

  z-index: 10;

  padding-left: 1em;
  padding-right: 1em;
}

.racer-info {
	font-weight: bold;
}

.lane.self .racer-info {
  color: green;
}

.lane.crash .racer-info {
  color: orange;
  text-decoration: line-through;
}

.lane ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.lane ol li {
  float: left;
	border: solid;
	margin: 2px;
	padding: 2px;
}

.clear {
	clear: both;
}
